/*-----Testing----*/

.testCol {
    border: 1px solid blue;
    background-color: grey;
}


/*-----Login Form----*/
.myRecoverPass .recoverPassMainRow .recoverPassCol .recoverPassSubRow .recoverPassSubCol .formCont .form {
    max-width: 430px;
    padding: 15px;
}

.myRecoverPass .recoverPassMainRow .recoverPassCol .recoverPassSubRow .recoverPassSubCol .formCont .form .submitBtn {
    margin-top: 5px;
    color: #FFF;
    background-color: #CBBEB5;
    border-color: #79726C;
}
